* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292929;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.container,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.col {
  -webkit-flex: 1 0 0%;
  flex: 1 0 0%;
}

.col-auto {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    -webkit-flex: 1 0 0%;
    flex: 1 0 0%;
  }
  .col-sm-auto {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -webkit-flex: 1 0 0%;
    flex: 1 0 0%;
  }
  .col-md-auto {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -webkit-flex: 1 0 0%;
    flex: 1 0 0%;
  }
  .col-lg-auto {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-auto {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #292929;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #000;
  background-color: #54b689;
  border-color: #54b689;
}

.btn-primary:hover {
  color: #000;
  background-color: #6ec19b;
  border-color: #65bd95;
}

.collapse:not(.show) {
  display: none;
}

.nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navbar {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: inherit;
  flex-wrap: inherit;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.navbar-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-collapse {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-align-items: center;
  align-items: center;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-sm .navbar-collapse {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md .navbar-collapse {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

.card {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-body {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.link-primary {
  color: #54b689;
}

.link-primary:hover,
.link-primary:focus {
  color: #76c5a1;
}

.flex-column {
  -webkit-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-wrap {
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.align-content-center {
  -webkit-align-content: center !important;
  align-content: center !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.text-primary {
  color: #54b689 !important;
}

.text-secondary {
  color: #4f4f4f !important;
}

.text-white {
  color: #fff !important;
}

.bg-primary {
  background: linear-gradient(#54b689, #1d976c) !important;
}

.bg-secondary {
  background-color: #4f4f4f !important;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

a {
  color: #54b689;
}

a:hover {
  color: #398562;
}

a.no-text-decoration {
  text-decoration: none;
}

a.text-link {
  text-decoration: none;
}

a.text-link:hover {
  text-decoration: underline;
}

a.theme-link {
  color: #292929;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(41, 41, 41, 0.3);
  text-decoration-color: rgba(41, 41, 41, 0.3);
}

a.theme-link:hover {
  color: #54b689;
  -webkit-text-decoration-color: rgba(84, 182, 137, 0.8);
  text-decoration-color: rgba(84, 182, 137, 0.8);
}

.btn-primary {
  color: #fff;
}

.btn-primary:hover,
.btn-primary:active {
  color: #fff;
  background: #48a97c;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 280px;
  background: #54b689;
  color: #fff;
  overflow-y: auto;
}

.header::-webkit-scrollbar {
  width: 6px;
  background-color: #54b689;
}

.header::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.header .blog-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}

.header .blog-name a {
  color: #fff;
}

.header .blog-name a:hover {
  text-decoration: none;
}

.header .btn-primary {
  background: rgba(0, 0, 0, 0.3);
  border-color: transparent;
  font-size: 1rem;
}

.header .btn-primary:hover {
  background: rgba(0, 0, 0, 0.4);
  border-color: transparent;
}

.header .navbar {
  padding: 1.5rem 1rem;
}

.header .navbar-toggler:focus {
  box-shadow: none;
}

.header .navbar-dark .navbar-toggler {
  border-radius: 2px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 0.25rem 0.6rem;
}

.header .navbar-dark .navbar-toggler:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.header .nav-item {
  font-weight: bold;
}

.header .nav-item .nav-link.active {
  color: rgba(0, 0, 0, 0.5);
}

.header .nav-item .nav-link.active:hover {
  text-decoration: none;
}

.header .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.header .nav-item .nav-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.social-list a {
  width: 32px;
  height: 32px;
  padding-top: 5px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
}

.main-wrapper {
  margin-left: 280px;
  background: #fff;
}

.main-wrapper .container-single-col {
  max-width: 820px;
}

.toggle + .toggle-btn {
  outline: 0;
  display: block;
  width: 70px;
  height: 30px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px;
  transition: all 0.2s ease-in-out;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
}

.section-title {
  font-size: 2rem;
  position: relative;
  padding-left: 1.5rem;
}

.section-title:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 100%;
  background: #54b689;
  position: absolute;
  left: 0;
  top: 0;
}

.profile-header .name {
  font-size: 3rem;
}

.profile-header .tagline {
  font-size: 1.5rem;
  font-weight: 300;
}

.overview-section .item {
  margin-bottom: 2rem;
}

.overview-section .item-desc {
  color: #4f4f4f;
  font-size: 0.875rem;
}

.overview-section .item-icon {
  font-size: 1.875rem;
  color: #54b689;
}

.overview-section .item-icon .fa-js-square {
  color: #f1de4f;
}

.overview-section .item-icon .fa-react {
  color: #62d4fa;
}

.overview-section .item-icon .nodejs {
  color: #55ac63;
}

.overview-section .item-icon .fa-python {
  color: #456e9c;
}

.project-card {
  border-radius: 0;
  border: 1px solid rgba(1, 1, 1, 1.788);
  position: relative;
  height: 100%;
}

.project-card:hover .link-mask {
  visibility: visible;
  background: rgba(9, 66, 18, 0.774);
}

.project-card:hover .link-mask-text {
  display: block;
}

.project-card .card-img {
  border-radius: 0;
}

.project-card .card-title {
  font-size: 1.125rem;
}

.project-card .card-text {
  font-size: 0.875rem;
}

.project-card .card-img-holder {
  max-height: 200px;
  overflow: hidden;
  vertical-align: middle;
}

.project-card .link-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.project-card .link-mask .link-mask-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.project-card .link-mask-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  display: none;
}

.project-card .link-mask-text .btn {
  top: 50%;
  margin-top: -20px;
  position: relative;
}

.blog-post-card {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.025);
  height: 100%;
  border-radius: 0;
}

.blog-post-card .card-title {
  font-size: 1.125rem;
}

.blog-post-card .card-text,
.blog-post-card .more-link {
  font-size: 0.875rem;
}

.blog-post-card .card-footer {
  border-top: none;
  background: none;
  padding-top: 0;
}

.blog-nav .nav-link {
  background: #54b689;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  font-weight: bold;
  position: relative;
}

.blog-nav .nav-link:hover {
  background: #40976f;
}

@media (max-width: 991.98px) {
  .header {
    position: static;
    width: inherit;
    height: auto;
  }
  .header .blog-name {
    width: 100%;
    position: absolute;
    left: 0;
    top: 1.2rem;
  }
  .header .btn-primary {
    width: 100%;
  }
  .header .navbar {
    padding: 1rem;
  }
  .main-wrapper {
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .header .nav-item .dropdown-menu .dropdown-item {
    padding-left: 1.875rem;
  }
  .mobile-is-hidden {
    display: none;
  }
}
