<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Team Portfolio Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
    <!-- FontAwesome JS -->
    <script src="https://kit.fontawesome.com/23b371f1d6.js" crossorigin="anonymous"></script>
    <!-- Ainne's stylesheet -->
    <link lang='css' rel="stylesheet" href="./static/styles/styles.css">
</head>

<body>
    <header class="header text-center bg-primary">
        <div class="force-overflow">
            <h1 class="blog-name pt-lg-4 mb-0">
                <a class="no-text-decoration" href="#home">Pod 3.3.1.1</a>
            </h1>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div id="navigation" class="collapse navbar-collapse flex-column">
                    <div class="profile-section pt-3 pt-lg-0">
                        <!-- <img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/profile.png" alt="image" /> -->
                        <div class="bio mb-3">Hello, We are Pod 3.3.1.1</div>
                        <!--//bio-->
                        <ul class="social-list list-inline mx-auto">
                            <li class="list-inline-item">
                                <a href="https://twitter.com/elonmusk?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/company/major-league-hacking/mycompany/"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/MLH-Fellowship/3.3.1.1-flask-blog"><i class="fab fa-github"></i></a>
                            </li>
                        </ul>
                        <!--//social-list-->
                        <hr />
                    </div>
                    <!--//profile-section-->
                    <ul class="navbar-nav flex-column text-start">
                        <li class="nav-item">
                            <a class="nav-link" href="#about"><i class="fas fa-user fa-fw me-2"></i>About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#portfolio"><i class="fas fa-laptop-code fa-fw me-2"></i>Portfolio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#blog"><i class="fas fa-blog fa-fw me-2"></i>Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact"><i class="fas fa-envelope-open-text fa-fw me-2"></i
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="main-wrapper">
      <section id="home" class="about-me-section p-3 p-lg-5 theme-bg-light">
        <div class="container">
          <div class="profile-teaser row">
            <div class="col">
              <h2 class="name font-weight-bold mb-1">Pod 3.3.1.1 </h2>
              <div class="tagline mb-3">Software Engineers</div>
              <div class="bio mb-4">
                We are a team of women software engineers specializing in
                frontend, backend, and fullstack development. We write about
                software, tech, and nerdy things on our
                <a class="text-link" href="#blog">our blog</a>.
                </div>
                <!--//bio-->
                <div class="mb-4">
                    <a class="btn btn-primary me-2 mb-3" href="#portfolio"></i><span class="d-none d-md-inline">View</span> Portfolio</a>
                </div>
        </div>
        <!--//col-->

        <div class="col-md-5 col-lg-5">
            <img class="profile-image img-fluid mb-3 mb-lg-0 me-md-0" src="assets/ainne.png" alt="" />
        </div>
        </div>
        </div>
        </section>
        <!--//about-me-section-->

        <section class="overview-section p-3 p-lg-5">
            <div class="container">
                <h2 class="section-title font-weight-bold mb-3">What We Do</h2>
                <div class="section-intro mb-5">
                    We have more than 5 years' of combined experience building software. Below is a quick overview of our main technical skill sets and technologies we use.
                </div>
                <div class="row">
                    <!-- item -->
                    <div class="item col-6 col-lg-3">
                        <div class="item-inner">
                            <div class="item-icon"><i class="fab fa-js-square"></i></div>
                            <h3 class="item-title">Vanilla JavaScript</h3>
                            <div class="item-desc">
                                We like writing with plain old vanilla JavaScript. JavaScript frameworks are an essential part of modern front-end web development, providing developers with proven tools for building scalable, interactive web applications.
                            </div>
                        </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="item col-6 col-lg-3">
                        <div class="item-inner">
                            <div class="item-icon">
                                <i class="fab fa-react me-2"></i>
                                </i>
                            </div>
                            <h3 class="item-title">React</h3>
                            <div class="item-desc">
                                React is an open-source front-end JavaScript library for building user interfaces or UI components. It is maintained by Facebook and a community of individual developers and companies.


                            </div>
                        </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="item col-6 col-lg-3">
                        <div class="item-inner">
                            <div class="item-icon"><i class="fab fa-python"></i></div>
                            <h3 class="item-title">Python</h3>
                            <div class="item-desc">
                                Python is an interpreted high-level general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant indentation
                            </div>
                        </div>
                    </div>
                    <!-- end of item -->
                    <!-- item -->
                    <div class="item col-6 col-lg-3">
                        <div class="item-inner">
                            <div class="item-icon"><i class="fab fa-node-js"></i></div>
                            <h3 class="item-title">node.js</h3>
                            <div class="item-desc">
                                Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser.
                            </div>
                        </div>
                    </div>
                    <!-- end of item -->
                </div>
            </div>
        </section>

        <!-- team -->
        <section id="about" class="overview-section p-3 p-lg-5">
            <div class="container">
                <h2 class="section-title mb-3">The Team</h2>
                <div style="padding-top: 40px" class="row text-center">
                    <div style="margin-top: 40px" class="col-lg-4">
                        <img src="/static/img/ainne.png" width="150" alt="ainne" class="img-thumbnail">
                        <h4>Ainne Oum</h4>
                        <p>I am a UI frontend focused engineer with a background in design. I love working with CSS, JavaScript, and React. I currently organize and lead my local chapter of Women Who Code in San Francisco.
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div style="margin-top: 40px" class="col-lg-4">
                        <img src="/static/img/ainne.png" width="150" alt="ainne" class="img-thumbnail">
                        <h4>Tracy</h4>
                        <p>I am a UI frontend focused engineer with a background in design. I love working with CSS, JavaScript, and React. I currently organize and lead my local chapter of Women Who Code in San Francisco.
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div style="margin-top: 40px" class="col-lg-4">
                        <img src="/static/img/ainne.png" width="150" alt="ainne" class="img-thumbnail">
                        <h4>Kate</h4>
                        <p>I am a UI frontend focused engineer with a background in design. I love working with CSS, JavaScript, and React. I currently organize and lead my local chapter of Women Who Code in San Francisco.
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->
            </div>
        </section>
        <!-- end team -->

        <section id="portfolio" class="featured-section p-3 p-lg-5">
            <div class="container">
                <h2 class="section-title font-weight-bold mb-5">Our Work</h2>
                <div class="row">

                    <!-- item -->
                    <!-- project card -->
                    <div class="col-md-4 mb-5">
                        <div class="card project-card">
                            <div class="row no-gutters">
                                <div class="col-12  card-img-holder">
                                    <img src="/static/img/spacenet.png" class="card-img" alt="image" />
                                </div>
                                <div class="col-12 col-xl-7">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="https://space-net.netlify.app/" class="theme-link">Space Net</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="link-mask d-flex align-content-center flex-wrap">
                                <p style="color: white" class="card-text text-center">
                                    Built company site with React.
                                </p>
                                <a class="link-mask-link" href="https://space-net.netlify.app/"></a>
                            </div>
                        </div>
                    </div>
                    <!-- project card -->
                    <div class="col-md-4 mb-5">
                        <div class="card project-card">
                            <div class="row no-gutters">
                                <div class="col-12  card-img-holder">
                                    <img src="/static/img/tracyApp.png" class="card-img" alt="image" />
                                </div>
                                <div class="">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="https://incrementumapp.herokuapp.com/" class="theme-link">Incrementum</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="link-mask d-flex align-content-center flex-wrap">
                                <p style="color: white" class="card-text text-center">
                                    Built company site with React.
                                </p>
                                <a class="link-mask-link" href="https://incrementumapp.herokuapp.com/"></a>
                            </div>
                        </div>
                    </div>
                    <!-- project card -->
                    <div class="col-md-4 mb-5">
                        <div class="card project-card">
                            <div class="row no-gutters">
                                <div class="col-12  card-img-holder">
                                    <img src="/static/img/kate.png" class="card-img" alt="image" />
                                </div>
                                <div class="col-12 col-xl-7">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="https://github.com/hurstkatelyn/cs1xx3" class="theme-link">Coded with Py</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="link-mask d-flex align-content-center flex-wrap">
                                <p style="color: white" class="card-text text-center">
                                    Coded with Py.
                                </p>
                                <a class="link-mask-link" href="https://github.com/hurstkatelyn/cs1xx3"></a>
                            </div>
                        </div>
                    </div>
                    <!-- item end -->
                </div>
            </div>
        </section>

        <section id="blog" class="latest-blog-section p-3 p-lg-5">
            <div class="container">
                <h2 class="section-title font-weight-bold mb-5">Latest Blog Posts</h2>
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <div class="card blog-post-card">
                            <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-1.jpg" alt="image" />
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="theme-link" href="blog-post.html">Top 3 JavaScript Frameworks</a
                    >
                  </h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    natoque penatibus et magnis dis parturient...
                  </p>
                  <p class="mb-0">
                    <a class="text-link" href="blog-post.html"
                      >Read more &rarr;</a
                    >
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Published 2 days ago</small>
                </div>
              </div>
              <!--//card-->
            </div>
            <!--//col-->
            <div class="col-md-4 mb-5">
              <div class="card blog-post-card">
                <img
                  class="card-img-top"
                  src="assets/images/blog/blog-post-thumb-card-2.jpg"
                  alt="image"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a class="theme-link" href="blog-post.html"
                      >About Remote Working</a
                    >
                  </h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    natoque penatibus et magnis dis parturient...
                  </p>
                  <p class="mb-0">
                    <a class="text-link" href="blog-post.html"
                      >Read more &rarr;</a
                    >
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Published a week ago</small>
                </div>
              </div>
              <!--//card-->
            </div>
            <!--//col-->
            <div class="col-md-4 mb-5">
              <div class="card blog-post-card">
                <img
                  class="card-img-top"
                  src="assets/images/blog/blog-post-thumb-card-3.jpg"
                  alt="image"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a class="theme-link" href="blog-post.html"
                      >A Guide to Becoming a Full-Stack Developer</a
                    >
                  </h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    natoque penatibus et magnis dis parturient...
                  </p>
                  <p class="mb-0">
                    <a class="text-link" href="blog-post.html"
                      >Read more &rarr;</a
                    >
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Published 3 weeks ago</small>
                </div>
              </div>
              <!--//card-->
            </div>
            <!--//col-->
          </div>
        </div>
        <!--//container-->
      </section>
      <!--//latest-blog-section-->

      <footer class="footer text-center py-4">
       Pod 3.3.1.1
      </footer>
      <!-- Javascript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    </div>
  </body>
</html>